*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,h1,h2,h3,p,ul{
    text-decoration: none;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navbar{
    height: 6vh;
    background-color: #212529;

}


.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar .container .links{
    width: 20%;
    padding-left: 12px;
 }
.navbar li{
    padding-top: 7px;
   justify-content: space-around;
   align-items: flex-start;
   padding-right: 11px;

}



.navbar h2{
    Font-size: 25px;
    Font-weight: 400;    
    Line-height: 37.5px; 
    color: rgb(248, 249, 250);
}

.navbar .container ul {
    display: flex;
    justify-content: space-between;
    width: 130%;
     list-style: none;
   
}

.navbar .container ul a{
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 24px;
    color: white;
   
}
.navbar .container ul h2{
    padding-right: 20px;
}

.header{
    height: 20vh;
}
.header .container{
    padding-top: 25px;
    padding-left: 116px;
}
.header .container h2, .about .container h2, .capabilities h2{
    text-transform:none;
    Font-size: 32px;
    Font-weight: 500;
    Line-height: 36.456px;
    color: rgb(33, 37, 41);
}
.header .container p{
    padding-top: 10px;
    text-transform:none;
   
}

.about{
    height: 45vh;
}
.about .container{
    width: 100%;
    display: flex;
    padding-top: 15px;
    padding-left: 116px;
}
.about .container p{
    Font-size: 30px;
    Font-weight: 400;
    Line-height: 45px;
    color: rgb(33, 37, 41);
    width: 95%;
    text-transform:none;
    padding-top: 10px;
}
.highlight{
    color: #dc3545;
}

.about img{
    padding-top: 21px;
    margin-right: 19.4%;
    width:35%;
}

.capabilities{
    height: 40vh;
}
.capabilities .container{
    padding-left: 116px;
}
.capabilities h2{
    text-transform:none;
    Font-size: 30px;
    Font-weight: 500;
    Line-height: 36.456px;
    color: rgb(33, 37, 41);
}
.capabilities .container ul{
    padding-top: 7px;
    Font-size: 20px;
    Font-weight: 400;
    Line-height: 30px;
    color: rgb(33, 37, 41);
    list-style: none;
}
.capabilities .container p{
    Font-size: 20px;
    Font-weight: 400;
    Line-height: 30px;
    color: rgb(33, 37, 41);
    text-transform:none;
    padding-top: 15px;
}
.blue{
    color:#0d6efd;
}

.pictures{
    padding-left: 15px;
    background-size: 100%;
    height: 220vh;
}
.pictures .container{
    padding-top: 5px;
    padding-left: 116px;
    align-items: center;
    width: 90%;
}
.pictures .container h3{
    padding-bottom: 7px;
    Font-size: 28px;
    Font-weight: 500;
    Line-height: 33.6px;
    color: rgb(33, 37, 41);
}
.pictures .container p{
    padding-bottom: 20px;
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 24px;
    color: rgb(33, 37, 41);
}

.pictures .images{
    padding-left: 70px;
    display: flex;
    flex-wrap: wrap;
}
.pictures .images .image{
    width: 45%;
    margin: 8px;
}
.pictures .container img{
    width: 98%;
}

footer{
    height: 35px;
    padding-left: 116px;
    padding-top: 10px;
}

footer h3{
    text-transform: none;
    Font-size: 28px;
    Font-weight: 500;
    Line-height: 33.6px;
    color: rgb(33, 37, 41);
}

footer p{
    text-transform: none;
    padding-top: 8px;
    padding-bottom:  15px;
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 24px;
    color: rgb(33, 37, 41);
}
.orange{
    color: #dc3545;
}


